.*.swp
*.o
atinout/atinout
atinout/atinout.1
atinout/atinout.1.html
atinout/atinout.spec
# Ignore common deb build extensions
*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.*
# Ignore common debhelper build extensions
*.debhelper
*.debhelper.log
*substvars
# Ignore files generated when assembling the debian package
debian/sabanto-modem-config
debian/debhelper-build-stamp
debian/files
# vscode folder
.vscode
# Telit .exe files
*.exe
# telit-fw files
telit-fw/build/*
