Source: sabanto-modem-config
Section: shells
Priority: optional
Maintainer: unknown <adam.gaynor@sabantoag.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1

Package: sabanto-modem-config
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools for managing Telit modem firmware
 This package installs two utilities:
  * modem_fw_tool - firmware uploader built using the Telit C SDK
  * atinout - AT command wrapper used to communicate with the modem
